body {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 300px 1fr;
  grid-template-areas:
    "side header"
    "side main";
}
h1 {
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
  background: rgb(6, 6, 223);
}
.header {
  background-color: yellow;
  /* grid=area: header; */
  grid-column: 2 / 3;
}
.sidebar {
  background-color: grey;
  grid-area: side;

  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.main {
  background-color: #aeb4c4;
  grid-area: main;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.days-forecast h2 {
  font-size: 2rem;
  margin: 20px 0;
}
.weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards ul {
  list-style: none;
  color: whitesmoke;
  background: rgb(35, 47, 114);
  padding: 19px 16px;
  border-radius: 5px;
  width: calc(100% / 5);
}
ul {
  list-style: none;
}

li {
  list-style: none;
}
